div.iphone14pro{
    width: 100%;
    height: 500px;
    background-image: url(../../../images/iphone14pro/iphone14pro.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: bottom;
    background-position-x:center;
}
   