div.iphone14{
    width: 100%;
    height: 700px;
    background-image: url(../../../images/iphone14/iphone14.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: bottom;
    background-position-x:center;
}



   